extends _layout.pug

block header
  title shakadb - awesome time series database
  link(href="promo.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Ubuntu|Black+Ops+One" rel="stylesheet")

block content
  nav.main
    ul
      li
        a(href="") Docs
      li
        a(href="") Source
  img.main-banner(src="main-banner.jpeg")
  .main-promo
    span shakadb - amazingly fast time series database
    a(href="") Get it now
  .separator
  .promo-line
    .text some text lorem ipsum amazingly fast time series database amazingly fast time series database
    img
  .promo-line.rev
    .text some text
    img
  .promo-line
    .text some text
    img
  .separator