extends _layout.pug

block header
  title shakadb - awesome time series database
  link(href="promo.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Ubuntu|Black+Ops+One" rel="stylesheet")

block content
  nav.main
    ul
      li
        a(href="") Docs
      li
        a(href="") Source
  img.main-banner(src="main-banner.jpeg")
  .main-promo
    span shakadb - amazingly fast time series database
    a(href="") Get it now
  .separator
  .promo-line
    .text
      h1 Speed
      span Designed with performance and simplicity in mind shakadb is fast, I mean really fast. Just check out the #[a(href="") the benchmark]
    img(src="speed.jpg")
  .promo-line.rev
    .text
      h1 Versatility
      span Shakadb is suited to hold all types of data. From financial tick data to industrial process information. Check out the #[a(href="") data model]
    img(src="stocks.jpeg")
  .promo-line
    .text
      h1 Simplicity
      span With client libraries and ready tutorials taking off the ground is really easy. Take a look at our #[a(href="") getting started] guide
    img(src="console.png")
  .separator