$dark-color: #2C3E50;
$alert-color: #E74C3C;
$light-color: #ECF0F1;
$main-color: #3498DB;
$main-dark-color: #2980B9;
$background-color: #fff;

$code-font: 'Ubuntu Mono';
$font: 'Ubuntu';
$logo-font: 'Black Ops One';

body {
    font-family: $font, sans-serif;
    background-color: $dark-color;
    color: $light-color;
}

$main-nav-height: 60px;

nav.main {
    position: fixed;
    width: 100%;
    height: $main-nav-height;
    background-color: $main-color;
    border-bottom: 2px solid $main-dark-color;
    z-index: 100;

    ul {
        color: $light-color;
        margin: 0 50px;
        display: flex;
        align-items: stretch;
        height: 100%;

        li {
            display: flex;
            align-items: center;

            &.logo {
                font-family: $logo-font;
                font-size: 35px;
                border-left: 1px solid;
                border-right: 1px solid;
                margin-right: 20px;

                a {
                    padding: 0 10px;

                    &:hover {
                        background: none;
                    }
                }
            }
        }

        a {
            color: $background-color;
            padding: 16px 10px;
            transition: all 0.3s;

            &:hover { background-color: $main-dark-color; }
        }
    }
}

footer {
    min-height: 300px;

    .mega {
        font-family: $logo-font;
        font-size: 150px;
        text-align: center;
        margin-top: 50px;
        color: darken($dark-color, 2%);
        text-shadow: 0 0 5px darken($dark-color, 10%);

    }

    small {
        display: block;
        font-size: 16px;
        text-align: center;
        color: darken($dark-color, 10%);

        a {
            color: lighten($dark-color, 15%);
        }
    }
}

.content {
    background-color: $background-color;
    color: $dark-color;
    display: flex;
    padding-top: $main-nav-height;
}

$side-nav-width: 400px;

nav.side {
    font-size: 14px;

    a {
        color: $dark-color;
        padding: 15px 0 5px 0px;
        display: inline-block;
        border-bottom: 1px solid $light-color;
        transition: all 0.3s;

        &:hover {
            color: lighten($dark-color, 20%);
            border-bottom: 1px solid $main-color;
        }
    }

    ul.main {
        position: sticky;
        top: $main-nav-height + 10px;
        margin: 0 40px 40px;
    }

    li {
        margin-left: 20px;
    }
}

main {
    height: 1024px;
    border-left: 1px solid darken($light-color, 10%);
    padding: 0 60px;

    h1 {
        font-size: 40px;
        margin: 40px 0 25px 0;
        line-height: 1.3;
    }

    a {
        color: $alert-color;
        transition: all 0.3s;

        &:hover {
            color: darken($alert-color, 20%);
            text-decoration: underline;
        }
    }

    em { font-weight: bold; }

    i { font-style: italic; }

    p {
        font-size: 16px;
        line-height: 180%;
        margin-bottom: 15px;
    }

    code {
        font-family: $code-font, monospace;
        background-color: darken($light-color, 10%);
        border: 1px solid darken($light-color, 20%);
        border-radius: 5px;

        &.inline {
            padding: 3px 5px;
            white-space: nowrap;
        }

        &.block {
            padding: 20px 10px;
            margin: 20px 0;
            display: block;

            span {
                display: block;
            }
        }
    }
}
