@import 'reset';
@import 'theme';
@import 'common';

body {
    font-family: $font, sans-serif;
    background-color: $dark-color;
    color: lighten($dark-color, 20%);
}

img.main-banner {
    width: 100%;
}

nav.main {
    position: absolute;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    ul {
        display: flex;
        height: 100%;
        align-items: center;

        li {
            a {
                color: $background-color;
                border: 1px solid;
                font-size: 13px;
                padding: 8px 16px;
                border-radius: 10px;
                margin-right: 10px;
                transition: all 0.3s;

                &:hover {
                    border-color: $dark-color;
                    background-color: $dark-color;
                }
            }
        }
    }

}

.main-promo {
    color: lighten($dark-color, 40%);
    position: absolute;
    top: 100px;
    width: 100%;
    font-size: 40px;
    padding: 60px 0 30px 0;
    text-align: center;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
        content: '';
        display: block;
        background: $dark-color;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: -1;
    }

    a {
        margin-top: 50px;
        padding: 10px 20px;
        border: 5px solid $alert-color;
        color: $alert-color;
        border-radius: 10px;
        transition: all 0.3s;

        &:hover {
            color: $background-color;
            background: $alert-color
        }
    }
}

.separator {
    $size: 20px;

    height: $size;
    background: $main-dark-color;
    margin-top: 80px;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        position: absolute;
        top: 0;
        left: calc(50% - #{$size / 2});
        border-top: $size solid $dark-color;
    }

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        position: absolute;
        top: $size;
        left: calc(50% - #{$size / 2});
        border-top: $size solid $main-dark-color;
    }
}

.promo-line {
    $img-width: 400px;

    margin-top: 80px;
    padding: 0 60px;
    display: flex;
    align-items: stretch;

    .text {
        background-color: lighten($dark-color, 5%);
        width: calc(100% - #{$img-width});
        padding: 40px 60px;
        font-size: 30px;
        line-height: 180%;
    }

    img {
        width: $img-width;
        height: $img-width;
    }

    &.rev {
        img { order: 0; }
        .text { order: 1; }
    }
}

